# Configuración de Servidor
PORT=3000

# API Key de AutorizadorEC (Generar en https://panel.autorizadorec.com/client/settings)
AUTORIZADOR_EC_API_KEY=tu_api_key_aqui
AUTORIZADOR_EC_ENV=TEST # TEST o PROD

# Configuración de Base de Datos PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=tu_password
PGDATABASE=puntitodb
